{% extends 'base.html' %}

{% block href %}"{{  url_for('users_file.dashboard', org_name=session['OrgName'])  }}"{% endblock %}

{% block css %}
<link href="static/css/StyleSheet.css" rel="stylesheet">
<style>
td a:hover {
    display:block;
    width:33%;
    font-weight: bold;
}


#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  height: 30px;
    line-height: 2;
  color: #FFFFFF;
  background-color: #122854;

}

#loading2 {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: none;

   z-index: 99;
   text-align: center;
    background-color: white;
}


#loading-image1 {
  position: absolute;
  top: 45%;
  left: 48%;
  z-index: 100;

  color: #122854;
}

.btn-upload {
  color:  #163269;
  background-color:  #163269;
  border-radius: #163269;
}

.btn-upload:hover {
  box-shadow: inset 0 0 0 20rem  #1b3c7e;
  opacity: 0.7;
}



</style>
{% endblock %}


{% block body %}
<div style="background-color: #122854; padding: 0px;">
    <center>
<h1 style="padding-bottom: 10px; color:#FFFFFF; margin-bottom: 0;">Configurations</h1>
    </center>
</div>

<div class="nt" style="margin-bottom: 0;">
    <div class="row">
    <div class="col-md-12 text-center">
    <a class="newtab" href="{{  url_for('users_file.dashboard', org_name=session['OrgName'])  }}"><i class="fas fa-home"></i> Back to main menu</a>

    </div>
    </div>
</div>
<table if = "activities" class="table compact" style="width:100%">
    <thead class="bg-5">
        <tr class="text-center" style="width:33%">
            <th width="33%">Activity</th>
            <th width="33%">Status</th>
            <th width="33%">Action</th>
        </tr>
    </thead>
    <tbody id = "yyy">
    <form method="POST" action="{{ url_for('users_file.admin_config',org_name=session['OrgName'])  }}">
            {% for i in activities_data %}
            <tr class="text-center" style="width:33%">
                <td>{{ i.Activity }}</td>
                {% if i.IsActive == True %}
                <td>Active</td>
                {% else %}
                <td>Inactive</td>
                {% endif %}
                  <input type="hidden" id="Current" name="Current">
                  {% if i.IsActive == True %}
                  <td>
                      <input type="submit" id="{{ i.Activity }}" class="btn btn-sm btn-secondary text-white" name="IsActive" value="Remove" onclick="ChangeStatus(this.id)">
                  </td>
                  {% elif i.IsActive == False %}
                  <td>
                      <input type="submit" id="{{ i.Activity }}" class="btn btn-sm btn-secondary text-white" name="IsActive" value="Add" onclick="ChangeStatus(this.id)">
                  </td>
                  {% endif %}

         <!--       {% if i.IsActive == True %}
                <td><form method="POST" action="{{ url_for('users_file.admin_config',org_name=session['OrgName'])  }}">
                    <input type="hidden" id="Current" name="Current">
                    <input type="submit" id="{{ i.Activity }}" class="btn btn-sm btn-secondary text-white" name="IsActive" value="Remove" onclick="ChangeStatus(this.id)">
                    </form>
                </td>
                {% else %}
                <td><form method="POST" action="{{ url_for('users_file.admin_config',org_name=session['OrgName'])  }}">
                    <input type="hidden" id="Current" name="Current">
                    <input type="submit" id="{{ i.Activity }}" class="btn btn-sm btn-secondary text-white" name="IsActive" value="Add" onclick="ChangeStatus(this.id)">
                    </form>
                </td>
                {% endif %}-->
            </tr>
            {% endfor %}
            </form>
    </tbody>
   </table>

<script>
    function ChangeStatus(ChangeActiveId){
     if (document.getElementById(ChangeActiveId).value == "Add"){
        // document.getElementById(ChangeActiveId).value = document.getElementById(ChangeActiveId).id;
         document.getElementById("Current").value = document.getElementById(ChangeActiveId).id;
     }else{
        document.getElementById("Current").value = document.getElementById(ChangeActiveId).id;

     }
     }
</script>

{% endblock %}