<center>
<h1>Open Innovation</h1>

<h3>{{ username[0] }}, we have feedback on your problem. </h3>
 <h4>     {{  selprob[1]  }}  -  {{  selprob[2]  }}   </h4>
<p> {{  author[0]  }} {{  author[1]  }} are the top ranker of the week and have some valuable feedback regarding your problem.</p>

<p>{{  viewmail  }}</p>

<p> Please feel welcome to engage in a discussion with me : {{username[1]}}  </p>

<p>---------------------------------------------------------------------------</p>
<p> Submit another problem or provide some feedback to problems or innovations to stand a chance to be the top ranker of next week.  </p>
<br><br>
<p>Hope to see you soon on the Open Innovation App. </p>
<a href="{{ confirm_url }}">{{ confirm_url }}</a>

<br>

<hr>

<br><br>

<p>
To get in contact with us please use the following email: vdlinden@fourier.co.za
</p>
</center>