<center>
<h1>Open Innovation</h1>

<h3>{{ username[0] }}, keep it up!! </h3>

<p>Well done!! You are so close to your next badge: {{ badgename }}</p>

<p> We appreciate your guidance so far! </p>
<p> Keep it up to earn your next achievement. </p>
<br><br>
<p>Hope to see you soon on the Open Innovation App. </p>
<a href="{{ confirm_url }}">{{ confirm_url }}</a>

<br>

<hr>

<br><br>

<p>
To get in contact with us please use the following email: vdlinden@fourier.co.za
</p>
</center>