<center>
<h1>Open Innovation</h1>

<h3>{{ username[0] }}, the top 5 problems need YOUR solving !! </h3>

<p>{{ top5probname }}</p>
<p>Please provide your expert opinion on the top 5 most important problems? </p>
<p> We'll appreciate your guidance! </p>
<br><br>
<p>Hope to see you soon on the Open Innovation App. </p>
<a href="{{ confirm_url }}">{{ confirm_url }}</a>

<br>

<hr>

<br><br>

<p>
To get in contact with us please use the following email: vdlinden@fourier.co.za
</p>
</center>