<center>
<h1>Open Innovation</h1>

<h3>{{ username[0] }}, we miss you. </h3>

<p>We have seen you {{ difference }} days last.</p>
<p>Are you challenged with some problems currently? </p>
<p>Or provide some answers to your colleques challenges. </p>
<br><br>
<p>Hope to see you soon on the Open Innovation App. </p>
<a href="{{ confirm_url }}">{{ confirm_url }}</a>

<br>

<hr>

<br><br>

<p>
To get in contact with us please use the following email: vdlinden@fourier.co.za
</p>
</center>