<center>
<h1>Open Innovation</h1>

<h3>{{ username[0] }}, you are invited to a brainstoriming session by {{ author[0] }} {{ author[1] }} - {{ author[2] }}.  </h3>
<h4> {{  subject  }}</h4>
<p>Date : {{  datesched  }}</p>
<p>Time: {{  timesched  }}</p>
<p>Meeting Link: {{  meetlink  }}</p>
<p> Join the meeting and give some valuable insigts.  </p>
<p> We'll appreciate your guidance! </p>
<br><br>
<p>Hope to see you soon on the Open Innovation App. </p>
<a href="{{ confirm_url }}">{{ confirm_url }}</a>

<br>

<hr>

<br><br>

<p>
To get in contact with us please use the following email: vdlinden@fourier.co.za
</p>
</center>