{% extends 'AdminBase.html' %}

{% block css %}
<style>
textarea {
    height: 5000px;
    overflow-x: hidden;
}

.star-rating {
   padding: 10px;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 175px;
  height: 35px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}
span.scale-rating{
margin: 5px 0 15px;
    display: inline-block;

    width: 100%;

}
span.scale-rating>label {
  position:relative;
    -webkit-appearance: none;
  outline:0 !important;
    border: 1px solid grey;
    height:33px;
    margin: 0 5px 0 0;
  width: calc(10% - 7px);
    float: left;
  cursor:pointer;
}

span.scale-rating label {
  position:relative;
    -webkit-appearance: none;
  outline:0 !important;
    height:33px;

    margin: 0 5px 0 0;
  width: calc(10% - 7px);
    float: left;
  cursor:pointer;
}

span.scale-rating input[type=radio] {
  position:absolute;
    -webkit-appearance: none;
  opacity:0;
  outline:0 !important;
    /*border-right: 1px solid grey;*/
    height:33px;

    margin: 0 5px 0 0;

  width: 100%;
    float: left;
  cursor:pointer;
  z-index:3;
}
span.scale-rating label:hover{
background: orange;
}
span.scale-rating input[type=radio]:last-child{
border-right:0;
}
span.scale-rating label input[type=radio]:checked ~ label{
    -webkit-appearance: none;

    margin: 0;
  background: orange;
}
span.scale-rating label:before
{
  content:attr(value);
    top: 7px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
  z-index:2;
}


.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}

.heading {
  font-size: 32px;
  margin-bottom: 10px;
}

div.cpspane {
      position: absolute;
      right: 0;
      top: 100%;
      width: 30%;
      height: 20%;
      background-color: #289dd2;
      color: #FFFFFF;
      
    }
div.leadpane {
      position: absolute;
      right: 0;
      top: 100%;
      width: 30%;
      height: 70%;
      /* background-color: rgb(184, 37, 37); */
      
      
    }
    div.badgepane2 {
      position: absolute;
      left: 0;
      top: 100%;
      width: 70%;
      height: 60%;
      /* background-color: rgb(30, 165, 30); */
      
      
    }   
 .grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% ; /*Make the grid smaller than the container*/
  gap: 5px;
  /* background-color: #2196F3; */
  padding: 5px;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 0 0;
  font-size: 20px;
}
.grid-container2 {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% ; /*Make the grid smaller than the container*/
  gap: 5px;
  /* background-color: #2196F3; */
  padding: 5px;
}

.grid-container2 > div {
   background-color: rgba(255, 255, 255, 0.8); 
  text-align: center;
  padding: 0 0;
  font-size: 20px;
}
.myImageOcc {
    opacity: 0.2;
    filter: alpha(opacity=20); 
}




/* ------------------- */


        
</style>



{% endblock %}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

{% block body %}

        <!-- PAGE CONTAINER-->
<div class="page-container" style = "overflow-x: hidden">
           <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1" style="margin-top: 15px">Gamification Report </h2>
                                    <span>
                                    <!-- <a class="btn btn-norm" href=# data-toggle="modal" data-target="#downloadpdf"><i class="fas fa-fas fa-list-ul"></i> Download pdf</a>
                                    <a class="btn btn-norm" href=# data-toggle="modal" data-target="#fitertype"><i class="fas fa-fas fa-list-ul"></i> Filter Input Type</a>
                                    <a class="btn btn-norm" href=# data-toggle="modal" data-target="#submitProb"><i class="fas fa-plus"></i> Submit a Input</a>
                                    <a class="btn btn-norm" href=# data-toggle="modal" data-target="#rateProb"><i class="fas fa-star"></i> Rate a Input</a>--> 
                                    <h1 style="margin-top: 15px"> Well done, {{ username[0]  }} </h1>
                                  
                                  </span> 
                                </div><hr>
                            </div>
                        </div>   
                      

        
            <div class="row m-t-25" style="height:100%">
                            <div class="col-sm-8 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix row">
                                            <div class="icon" style="padding-left:10px;">
                                                <i class="fas fa-exclamation-triangle"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{  active_problems_user[0][0]  }} out of {{  active_problems[0][0]  }}</h2>
                                                <span>Total Problems</span>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-lg-3">
                                <div class="overview-item overview-item--c2" style="background-color:#2D4C5B">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix row">
                                             <div class="icon" style="padding-left:10px;">
                                                <i class="fas fa-globe"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{  innovations_user[0][0] }} out of {{  innovations[0][0] }}</h2>
                                                <span>Total Innovations</span>
                                            </div>
                                            </a>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-lg-3">
                                <div class="overview-item overview-item--c3" style="background-color:#41C1BA">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix row">
                                            <div class="icon" style="padding-left:10px;">
                                                <i class="fas fa-check-circle"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{  ratingsrate_user[0][0]  }} out of {{  ratingsrate[0][0]  }}</h2>
                                                <span>Total Ranked</span>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>       
                            <div class="col-sm-8 col-lg-3">
                              <div class="overview-item overview-item--c1" style="background-color:#1A2140">
                                  <div class="overview__inner">
                                      <div class="overview-box clearfix row">
                                          <div class="icon" style="padding-left:10px;">
                                            <i class="fas fa-trophy"></i>
                                          </div>
                                          <div class="text">
                                              <h2> {{  user_cpsi[0]  }}</h2>
                                              <span>CPS Index</span>
                                          </div>
                                      </div>
                                      <br>
                                  </div>
                              </div>
                          </div> 
            </div>
     <!-- <p>  {{  user_cpsi  }}--10, {{  usernamesleaderboard }}-50, {{allranks  }} -100  </p> -->


    <div class="grid-container">
        <div>
            {% if (session['gbadge10'] == "1"): %}
                           
                <a href=# data-toggle="modal" data-target="#topprobb">             
                    <img src="../static/images/badge10.png"  width="100%" alt="Image"style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                </a> 
                <label>30 Index </label>   
            {% else %}
                <div class = "myImageOcc">
                  <a href=# data-toggle="modal" data-target="#topprobb">             
                    <img src="../static/images/badge10.png"  width="100%" alt="Image"style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                </a> 
                <label>30 Index </label> 
                </div>
            {% endif %}
        </div>
        <div>
            {% if (session['gbadge50'] != "1"): %}
                <a  href=# data-toggle="modal" data-target="#topprobb">             
                    <img src="../static/images/badge50.png"  width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                </a>
                <label>50 Index </label>   
            
            {% else %}
                <div class = "myImageOcc">
                  <a  href=# data-toggle="modal" data-target="#topprobb">             
                    <img src="../static/images/badge50.png"  width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                </a>
                <label>50 Index </label> 
                </div>
            {% endif %}
        </div>
        <div>
            {% if (session['gbadge100'] != "1"): %}            
                <a  href=# data-toggle="modal" data-target="#toprank">             
                    <img src="../static/images/badge100.png" width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                </a>
                <label>100 Index</label>   
            {% else %}
                <div class = "myImageOcc">
                  <a  href=# data-toggle="modal" data-target="#toprank">             
                    <img src="../static/images/badge100.png" width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                  </a>
                  <label>100 Index</label> 
                  </div>
            {% endif %}
        </div>   
        <div>
            {% if (session['gbadgeprob'] == "1"): %}
                <a  href=# data-toggle="modal" data-target="#toprank">             
                    <img src="../static/images/badgehat.png" width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                </a>
                <label>10+ Problems</label>   
            {% else %}
                <div class = "myImageOcc">
                  <a  href=# data-toggle="modal" data-target="#toprank">             
                    <img src="../static/images/badgehat.png" width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                  </a>
                  <label>10+ Problems</label> 
                  </div>
            {% endif %}
        </div> 
        <div>
            {% if (session['gbadgeinnov'] == "1"): %}
                <a  href=# data-toggle="modal" data-target="#toprank">             
                    <img src="../static/images/badgeglobe.png"  width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                </a>
                <label>10+ Innovations</label>   
            {% else %}
                <div class = "myImageOcc">
                  <a  href=# data-toggle="modal" data-target="#toprank">             
                    <img src="../static/images/badgeglobe.png"  width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                  </a>
                  <label>10+ Innovations</label> 
                  </div>
            {% endif %}
        </div> 
        <div>
            {% if (session['gbadgerank'] == "1"): %}
                <a  href=# data-toggle="modal" data-target="#toprank">             
                    <img src="../static/images/badgerank.png"  width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                </a>
                <label>10+ Ranker</label>   
            {% else %}
                <div class = "myImageOcc">
                  <a  href=# data-toggle="modal" data-target="#toprank">             
                      <img src="../static/images/badgerank.png"  width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                  </a>
                  <label>10+ Ranker</label> 
                  </div>
            {% endif %}
        </div> 
        <div>
            {% if (session['gbadgecal'] == "1"): %}
                <a  href=# data-toggle="modal" data-target="#toprank">             
                    <img src="../static/images/badgecalender.png"  width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                </a>
                <label>Regular visitor</label>   
            {% else %}
                <div class = "myImageOcc">
                  <a  href=# data-toggle="modal" data-target="#toprank">             
                    <img src="../static/images/badgecalender.png"  width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                  </a>
                  <label>Regular visitor</label>
                  </div>
            {% endif %}
        </div>
        <div>
            {% if (session['gbadgetime'] == "1"): %}
                  <a  href=# data-toggle="modal" data-target="#toprank">             
                    <img src="../static/images/badgetime.png"  width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                  </a>
                  <label>Time challenger</label>   
             {% else %}
                <div class = "myImageOcc">
                  <a  href=# data-toggle="modal" data-target="#toprank">             
                    <img src="../static/images/badgetime.png"  width="100%" alt="Image" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);">
                  </a>
                  <label>Time challenger</label> 
                  </div>
            {% endif %}
        </div> 
      </div>




 <div class = "leadpane">
    <div class="row ">
      <div class="col-md-12">
         <div class="au-card chart-percent-card">
           <div class="au-card-inner">

            <div class="" auto-update="true" style="table-layout:fixed; width:100%; background-color: #FFFFFF;  border-radius: 10px;">
            <table id="example" class="table compact table-hover" style="border-collapse: collapse; border-radius:10px; overflow:hidden;">
            <thead class="text-center dot--dblue text-white" style="background-color:#EBA144" >
              <tr class="">
                  <th style="width:1%;"></th>
                  <th style="width:1%;"></th>
                  <th style="width:2%;">Score</th>
                  <th style="width:15%;">Name</th>
                  <th style="width:20%;">Surname</th>
              </tr>
            </thead>
            <tbody class="text-center" style="font-size: 14px !important;">
                <!--{# for i in Problems #}. format({{output}}) -- test a variable here to display the select box-->

                {% for i in usernamesleaderboard %}
                <tr >
                  <td class="fas fa-check-circle"> </td>
                  <td style="text-align: justify; text-justify: inter-word;"></td>
                  <td style="text-align: justify; text-justify: inter-word;">{{  i[1]  }}</td>
                  <td style="display: table-cell; vertical-align: middle;">{{   i[2]  }}</td>
                  <td style="display: table-cell; vertical-align: middle;">{{   i[3]  }}</td>
                </tr>
      {% endfor %}
      </tbody>
    </table>

              </div>
          </div>
      </div>
  </div>

  </div>
</div>   
 <div class = "badgepane2">
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <canvas id="mixed-chart" width="700" height="200" left = 10px ></canvas>


    <script>
    // v = request.get_json().get('allranks')
    // var orgprob = '{{ allprobs}}';
    // var orginnov = '{{ allinnov }}';
    // var orgranks = '{{ allranks }}';
    // var active_problems = '{{  active_problems  }}';
    // var innovations = '{{ innovations }}';
    // var ratingsrate= '{{ ratingsrate }}';
    // var active_problems_user = '{{ active_problems_user}}';
    // var innovations_user = '{{ innovations_user }}';
    // var  ratingsrate_user = '{{  ratingsrate_user }}';
      
    new Chart(document.getElementById("mixed-chart"), {
        type: 'bar',
        data: {
          labels: ["# Problems", "# Innovations", "# Ranked"],
          datasets: [{
              label: "All Organisations",
              type: "line",
              borderColor: "#EBA144",
              data: [20,23,33],
              fill: false,
              borderWidth: 5
            }, {
              label: "Fourier",
              type: "line",
              borderColor: "#41C1BA",
              data: [12,11,16],
              fill: false,
              borderWidth: 5
            }, {
              label: "User",
              type: "bar",
              backgroundColor: "#2D4C5B",
              data: [5,8,10],
            }
            //, {
            //   label: "Africa",
            //   type: "bar",
            //   backgroundColor: "rgba(0,0,0,0.2)",
            //   backgroundColorHover: "#3e95cd",
            //   data: [133,221,783,2478]
            // }
          ]
        },
        options: {
          title: {
            display: true,
            text: "Test"
          },
          legend: { display: true }
        }
    });

      </script>                                      
                                  
<div class="modal fade" id="downloadpdf" tabindex="-1" role="dialog" aria-labelledby="EditRolesLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form action="{{  url_for('gamification_file.download', org_name=session['OrgName'])  }}" method="POST">
      <div class="modal-header dot--dblue">
        <h5 class="modal-title dot--dblue text-white" id="filterTit">Download a pdf of the problems </h5>

      </div>
      <div class="modal-body">
        <div class="form-group">
            <center>
                <label class="text-center">Select Download Group</label>
                <select class="form-control qlogin" name="InType" id="InType">
                  <option value="" selected disabled></option>
                    <option value="Problems" >Problems</option>
                    <option value="Innovations" >Innovations</option>
                    <!-- <option value="Inputs" >Inputs</option>  --- change to inputs - npt problems -->
                  
                </select>
            </center>
        </div>
        </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-success no-show mr-auto" name="problems" value="Download pdf">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </form>
      </div>
    </div>
  </div>
</div>
                                
                  
</div>                        
       
            </div>
        </div>
        
           
    </div>
</div>               
                           

    {% endblock %}  


                <div class="content-wrapper">
                    <div class="container-fluid">
                      <div class="row">
                
                      <!-- Icon Cards-->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                            <div class="inforide">
                              <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                                    <!-- <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
                                </div> -->
                                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                    <h4>Employee</h4>
                                    <h2>20</h2>
                                </div>
                              </div>
                            </div>
                        </div>
                
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                            <div class="inforide">
                              <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
                                    <!-- <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
                                </div> -->
                                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                    <h4>Clients</h4>
                                    <h2>120</h2>
                                </div>
                              </div>
                            </div>
                        </div>
                
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                            <div class="inforide">
                              <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
                                    <!-- <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
                                </div> -->
                                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                    <h4>Jobs</h4>
                                    <h2>50</h2>
                                </div>
                              </div>
                            </div>
                        </div>
                
                    </div>
                  </div>
                </div>
    <script>
    

    </script>