{% extends 'AdminBase.html' %}

{% block css %}

{% endblock %}

{% block body %}
        <!-- PAGE CONTAINER-->
         <div class="page-container">

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Knowledge</h2>

                                </div><hr>
                            </div>
                        </div>


 <div class="row m-t-25">
                            <div class="col-md-12">
                        <div class="au-card chart-percent-card">
                            <div class="au-card-inner">


      					<h4 class="mbr-fonts-style mbr-section-title align-center display-4" style="padding: 30px;">Implementation Levers</h4>
						<p style="padding: 30px;"><strong style="color:orange">The Innovation Strategic Framework</strong> illustrates the innovation capability relationships and linkages. It also gives an indication of the levers to use to increase the organisation’s innovation capability rating.
						</p>


						<div align="center">
						<img src="../static/images/picture7.PNG" class="img-responsive" width="80%" alt="Image">
						<br>
						<br>
						<br>
						<img src="../static/images/picture8.PNG" class="img-responsive" width="80%" alt="Image3">
						<br>

				  </div>
<br>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
 {% endblock %}

{% block js %}

{% endblock %}