{% extends 'AdminBase.html' %}

{% block css %}

{% endblock %}

{% block body %}
        <!-- PAGE CONTAINER-->
        <div class="page-container">

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Knowledge</h2>

                                </div><hr>
                            </div>
                        </div>


 <div class="row m-t-25">
                            <div class="col-md-12">
                        <div class="au-card chart-percent-card">
                            <div class="au-card-inner">

      					<h4 class="mbr-fonts-style mbr-section-title align-center display-4" style="padding: 30px;">Innovation Capability</h4>

						<p class="mbr-text mbr-fonts-style display-7" style="padding: 30px !important; text-align: justify !important; text-justify: inter-word !important;">Innovation capability indicates the level to which an organisation supports systemic innovation. In other words, how EASY or DIFFICULT is it for staff members to originate and implement <strong style="color:blue">strategically aligned ideas</strong> in the organisation. It’s based on the organisations ability to convert its <strong style="color:blue">intellectual capital quickly into new products, services or business value</strong>. The Innovation Capability of an organisation is usually indicated by an Innovation Capability Index, which is expressed as a percentage (%).</p>

						<p class="mbr-text mbr-fonts-style display-7" style="padding: 30px; text-align: justify; text-justify: inter-word;">Your organisation’s <strong style="color:blue">ideal state</strong> is one where you are potentially leveraging all the latent human capital available to the organisation to solve different challenges the organisation are faced with. In this <strong style="color:blue">ideal state</strong> the organisation is using all the idea power of everybody in the ecosystem to its challenges. In this <strong style="color:blue">ideal state</strong> all tacit and explicit knowledge is transformed into <strong style="color:blue">business value and opportunities for future growth</strong>. Creating business value could be seen as the ability to convert intellectual capital into new products and services or other related business value.</p>

						<p class="mbr-text mbr-fonts-style display-7" style="padding: 30px; text-align: justify; text-justify: inter-word;"><strong style="color:orange">Innovation</strong> refers to the ability a organisation has to convert intellectual capital quickly into new products or services, In other words how quickly the company can turn knowledge into business value through the necessary organisational support. The effectiveness of any innovation management programme is linked to the level of organisational enablement and is referred to at the innovation capability.
						</p>
						<p class="mbr-text mbr-fonts-style display-7" style="padding: 30px; text-align: justify; text-justify: inter-word;"><strong style="color:orange">The innovation capability</strong> is an indicator of how easy or difficult it is for employees to submit and implement strategically aligned ideas. It is this capability and capacity that you will be assessing, building and growing as you map your journey to limitless growth. Your organisation’s innovation journey will consist of the following <strong style="color:orange">five</strong> elements:
						</p>
						<br>
						<div align="center">
						<div class="">
						<img src="../static/images/picture2.PNG" class="w3-border " width="80%" alt="Image">
                        <br>
						</div>
 <br>

                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
 {% endblock %}

{% block js %}

{% endblock %}