<center>
<h1>Open Innovation</h1>

<h3> we have feedback on your problem. </h3>

<p> are the top ranker of the week and have some valuable feedback regarding your problem.</p>



<p> Please feel welcome to engage in a discussion with me  </p>

<p>---------------------------------------------------------------------------</p>
<p> Submit another problem or provide some feedback to problems or innovations to stand a chance to be the top ranker of next week.  </p>
<br><br>
<p>Hope to see you soon on the Open Innovation App. </p>


<br>

<hr>

<br><br>

<p>
To get in contact with us please use the following email: vdlinden@fourier.co.za
</p>
</center>