{% extends 'AdminBase.html' %}

{% block css %}
<style>
textarea {
    height: 150px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "OrgName SurveyName"
    "ICI Cats"
    "pilIndex Cats"
    "People Process"
    "Value Environment"
    "OMA OMA"
    "IPDP IPDP"
    "CAM CAM"
    "OPF OPF"
    "OT OT"
    "RSKM RSKM";
}

.OrgName { grid-area: OrgName; }
.SurveyName { grid-area: SurveyName; }
.ICI { grid-area: ICI; }
.pilIndex { grid-area: pilIndex; }
.Cats { grid-area: Cats; }
.People { grid-area: People; }
.Process { grid-area: Process; }
.Value { grid-area: Value; }
.Environment { grid-area: Environment; }
.OMA { grid-area: OMA; }
.IPDP { grid-area: IPDP; }
.CAM { grid-area: CAM; }
.OPF { grid-area: OPF; }
.OT { grid-area: OT; }
.RSKM { grid-area: RSKM; }



.star-rating {
   padding: 10px;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 175px;
  height: 35px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}
span.scale-rating{
margin: 5px 0 15px;
    display: inline-block;

    width: 100%;

}
span.scale-rating>label {
  position:relative;
    -webkit-appearance: none;
  outline:0 !important;
    border: 1px solid grey;
    height:33px;
    margin: 0 5px 0 0;
  width: calc(10% - 7px);
    float: left;
  cursor:pointer;
}

span.scale-rating label {
  position:relative;
    -webkit-appearance: none;
  outline:0 !important;
    height:33px;

    margin: 0 5px 0 0;
  width: calc(10% - 7px);
    float: left;
  cursor:pointer;
}

span.scale-rating input[type=radio] {
  position:absolute;
    -webkit-appearance: none;
  opacity:0;
  outline:0 !important;
    /*border-right: 1px solid grey;*/
    height:33px;

    margin: 0 5px 0 0;

  width: 100%;
    float: left;
  cursor:pointer;
  z-index:3;
}
span.scale-rating label:hover{
background: orange;
}
span.scale-rating input[type=radio]:last-child{
border-right:0;
}
span.scale-rating label input[type=radio]:checked ~ label{
    -webkit-appearance: none;

    margin: 0;
  background: orange;
}
span.scale-rating label:before
{
  content:attr(value);
    top: 7px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
  z-index:2;
}


.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}

.heading {
  font-size: 32px;
  margin-bottom: 10px;
}
</style>


{% endblock %}


{% block body %}
        <!-- PAGE CONTAINER-->
        <div class="page-container">
  <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Report</h2>
                                    <span>
                                    <!--<a class="btn btn-norm" href=# data-toggle="modal" data-target="#DPDF"><i class="fas fa-plus"></i> Dowload pdf report</a> -->
                                     </span>
                                     </div><hr>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- MAIN CONTENT-->
            <div class="container">

              <div class="OrgName">
                  <div class="section__content section__content--p20">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h3 class="title-1">OrgName Here</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

              <div class="SurveyName">
                    <div class="section__content section__content--p20">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h3 class="title-1">SurveyName Here</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

              <div class="ICI">
                  <div class="row m-t-25" style="height:100%">
                    <div class="col-sm-12 col-lg-4">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix row">
                                    <div class="icon" style="padding-left:10px;">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </div>
                                    <div class="text">
                                        <h2>{{sindex}} % </h2>
                                        <span>Innovation Capability Index</span>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

              </div>
              <div class="pilIndex">
                 <p> test pillars </p>
              </div>
              <div class="Cats">
                 <p> test Cats </p>
              </div>
              <div class="People">
                 <p> test People </p>
              </div>
              <div class="Process">
                 <p> test Process </p>
              </div>
              <div class="Value">
                   <p> test Value </p>
              </div>
              <div class="Environment">
                   <p> test Envir </p>
              </div>
              <div class="OMA">
                 <p> test OMA </p>
              </div>
              <div class="IPDP">
                 <p> test IPDP </p>
              </div>
              <div class="CAM">
                 <p> test CAM </p>
              </div>
              <div class="OPF">
                 <p> test OPF </p>
              </div>
              <div class="OT">
                 <p> test OT </p>
              </div>
              <div class="RSKM">
                   <p> test RSKM </p>
              </div>
            </div> <!-- class container end-->




>

<div class="" auto-update="true" style="table-layout:fixed; width:100%; background-color: #FFFFFF;  border-radius: 10px;">
<table id="example" class="table compact table-hover" style="border-collapse: collapse; border-radius:10px; overflow:hidden;">
    <thead class="text-center dot--dblue text-white">
      <tr class="">
		<th style="width:25%;">Name</th>
        <th style="width:25%;">Surname</th>
		<th style="width:25%;">Email</th>
		<th style="width:10%;">Admin</th>
		<th style="width:5%; text-align:center;">Edit</th>
      </tr>
    </thead>
    <tbody class="text-center" style="font-size: 14px !important;">
    </tbody>
    </table>

 <!--   {%  for i in peopleselections: %}
    <p>{{ i }} </p>
    <p>{{ i[0] }} </p>
    {% endfor %}
sindex = sindex,spercdef = spercdef, indexname = indexname, pilheaddef = pilheaddef,
    catheaddef = catheaddef ,catflags = catflags, solarraydef=solarraydef
sindex = ICI index percentage value ,spercdef = name and desc of Pillar survey specific values ,
    indexname = [high,low, med, low], pilheaddef = names and desc of pillars, catheaddef = names + desc of category ,
    catflags = desc of the category flags OMA1 - 'desc' , solarraydef  = the desc of the correct solutions per category groups of 5-->

    <p>ICI percentage - {{ sindex}} </p> <br>
    <p>Index description {{ dbnsindex}} </p> <br>
    <p>Pillar head {{ pilheaddef}} </p> <br>
    <p>Pillar index {{ indexname}} </p> <br>
    <p>Name and dec of pillars: {{ spercdef}} </p> <br>
    <p>Category head {{ catheaddef}} </p> <br>
    <p>Category flags {{ catflags}} </p> <br>
    <p>Solutions for categories {{ solarraydef}} </p> <br>



</div>
  </div>
     </div><!-- END PAGE CONTAINER-->








{% endblock %}