{% extends 'AdminBase.html' %}

{% block css %}

{% endblock %}

{% block body %}
        <!-- PAGE CONTAINER-->
        <div class="page-container">

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Knowledge</h2>

                                </div><hr>
                            </div>
                        </div>


 <div class="row m-t-25">
                            <div class="col-md-12">
                        <div class="au-card chart-percent-card">
                            <div class="au-card-inner">


      					<h4 class="mbr-fonts-style mbr-section-title align-center display-4" style="padding: 30px;">Survey Methodology</h4>
						<p style="padding: 30px;"><strong style="color:orange">A Mixed method approach</strong> will be followed which involves both qualitative and quantitative methods. A combination of an online or manual survey, face-to-face leadership interviews and focus groups discussions will be used for the situational analysis. As part of the data collection process, a questionnaire (Annexure B) will be distributed through an online process. Where necessary, the team can facilitate group sessions to support staff members with the completion of the questionnaire.
						</p>
						<p style="padding: 30px;">It is important to note that research indicates that organisations should strive to at least have an <strong style="color:orange">overall innovation capability index of 70%</strong>, at which stage, the presence of organisational innovation capability builds organisational value. This implies an <strong style="color:orange">average score of 70% per innovation pillar</strong>. Organisations with an index of <strong style="color:orange">40% or less</strong> run the risk of destroying organisational value through a lack of innovation enablement.
						</p><br>
						<div align="center">
						<img src="../static/images/picture6.PNG" class="img-responsive" width="80%" alt="Image">
						<br>
						</div>
							</div>
							<br>
				  </div>
							</div>
 </div>
					</div>
				</div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
 {% endblock %}

{% block js %}

{% endblock %}