{% extends 'AdminBase.html' %}

{% block css %}

{% endblock %}

{% block body %}
        <!-- PAGE CONTAINER-TIInnovDirec-->
        <div class="page-container">

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Knowledge Module 2</h2>

                                </div><hr>
                            </div>
                        </div>


                        <div class="row m-t-25">
                         <div class="col-md-12">
                            <div class="au-card chart-percent-card">
                                <div class="au-card-inner">

                                <h4 class="mbr-fonts-style mbr-section-title align-center display-4" style="padding: 30px;" >Setting your Innovation Journey Direction</h4>

                        <div align="center">
						<div class="">
						<img src="../static/images/2IC (11).PNG" class="w3-border " width="80%" alt="Image">

                        <img src="../static/images/2IC (12).PNG" class="w3-border " width="80%" alt="Image">

                        <img src="../static/images/2IC (13).PNG" class="w3-border " width="80%" alt="Image">

                        <img src="../static/images/2IC (14).jpg" class="w3-border " width="80%" alt="Image">
                        <br>
                        <img src="../static/images/2IC (15).PNG" class="w3-border " width="80%" alt="Image">
                        <br>
                        <img src="../static/images/2IC (16).PNG" class="w3-border " width="80%" alt="Image">
                        <br>
                        <img src="../static/images/2IC (17).PNG" class="w3-border " width="80%" alt="Image">
                       <a href="https://www.mckinsey.com/business-functions/strategy-and-corporate-finance/our-insights/enduring-ideas-the-three-horizons-of-growth"><h3 class="title-3"><strong style="color:blue">Read the following Article from McKinsley</strong></h3></a>

                        <br>
                        <img src="../static/images/2IC (18).PNG" class="w3-border " width="80%" alt="Image">
                        <br>
                        <img src="../static/images/2IC (19).PNG" class="w3-border " width="80%" alt="Image">


                        <!-- <a href="url">link text</a>-->

						</div>
                        <br>


                    </div>
                </div>
            </div>
            </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
 {% endblock %}

{% block js %}

{% endblock %}