{% extends 'AdminBase.html' %}

{% block css %}

{% endblock %}

{% block body %}
        <!-- PAGE CONTAINER-TITypes-->
        <div class="page-container">

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Knowledge Module 2</h2>

                                </div><hr>
                            </div>
                        </div>


                        <div class="row m-t-25">
                         <div class="col-md-12">
                            <div class="au-card chart-percent-card">
                                <div class="au-card-inner">

                                <h4 class="mbr-fonts-style mbr-section-title align-center display-4" style="padding: 30px;" >Innovation Barriers</h4>

                        <div align="center">
						<div class="">
						<img src="../static/images/2IC (20).PNG" class="w3-border " width="80%" alt="Image">
                        <br>
                        <img src="../static/images/2IC (21).PNG" class="w3-border " width="80%" alt="Image">
                         <br>
                        <img src="../static/images/2IC (23).PNG" class="w3-border " width="80%" alt="Image">
                        <br>
                        <img src="../static/images/2IC (24).PNG" class="w3-border " width="80%" alt="Image">
                        <br>
                        <img src="../static/images/2IC (25).PNG" class="w3-border " width="80%" alt="Image">
                        <br>
                        <img src="../static/images/2IC (26).PNG" class="w3-border " width="80%" alt="Image">
                         <br>
                        <img src="../static/images/2IC (27).PNG" class="w3-border " width="80%" alt="Image">
                        <br>
                        <img src="../static/images/2IC (28).PNG" class="w3-border " width="80%" alt="Image">
                        <br>
                        <img src="../static/images/2IC (29).PNG" class="w3-border " width="80%" alt="Image">
                        <br>
                        <img src="../static/images/2IC (30).PNG" class="w3-border " width="80%" alt="Image">
                         <br>
                        <img src="../static/images/2IC (32).PNG" class="w3-border " width="80%" alt="Image">
                        <br>


                        <!-- <a href="url">link text</a>-->

						</div>
                        <br>


                    </div>
                </div>
            </div>
            </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
 {% endblock %}

{% block js %}

{% endblock %}